
SMS_PROVIDER=zunoy-sandbox
OTP_DELIVERY_KEY=
ZUNOY_SMS_URL=https://mock-sms.zunoy.com/sms/new/message
ZUNOY_SMS_API_KEY=saycOf4x1
ZUNOY_SMS_SENDER_ID=68

# Public customer website, used for links inside emails
SITE_URL=http://localhost:3000
